body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e9fab15;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
  }

  header::after {
    content: '';
    background: linear-gradient(to right, #a772ec, #e9d095, #ba95e7, #9292ed);
    height: 1.5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 20px;
  }
  
  .headerImg {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 15px;
    cursor: pointer;
  }
  
  .headerImg h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: #141414;
  }
  
  .headerImg h3 span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    font-weight: 700;
    color: #5089c6;
  }
  
  #menuItems {
    width: 450px;
    height: 60px;
    margin-right: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
  }
  
  .menuList {
    font-size: 15px;
    font-weight: 700;
    color: #5089c6;
    padding: 5px;
    cursor: pointer;
    list-style-type: none;
    text-decoration: none;
    width: max-content;
    position: relative;
  }

  .menuList::after {
    content: '';
    color: linear-gradient(to right, red, blue);
    width: 0;
    transition: 100ms;
  }
  
  .menuList:hover::after {
    background: linear-gradient(to right, #a772ec, #e9d095, #ba95e7, #9292ed);
    height: 2px;
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
    border-radius: 20px;
  }

  .menuList:hover {
    background: linear-gradient(to top, rgba(80,137,198, 0.2), rgba(80,137,198, 0));
    color: #04468d;
    border-radius: 2px;
  }